.vs/
bin/
obj/
/lib/
.idea/.idea.XIVComboExpanded/.idea/vcs.xml
.idea/.idea.XIVComboExpanded/.idea/indexLayout.xml
.idea/.idea.XIVComboExpanded/.idea/encodings.xml
.idea/.idea.XIVComboExpanded/.idea/.name
